@use "./reset";
@use "./variables";

* {
  font-family: "Noto Sans HK", serif;
}

body {
  background-color: variables.$primary-color;
}

.header,
.typing-form,
.message-content {
  max-width: 1000px;
  margin   : 0 auto;
}

// 聊天視窗
.header {
  display: none;

  color     : variables.$text-color;
  margin-top: 7vh;
  padding   : 1rem;

  .title {
    color                  : transparent;
    font-size              : 2.7rem;
    font-weight            : 700;
    background-clip        : text;
    background             : linear-gradient(to right, #4285F4, #D96570);
    width                  : fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: t ransparent;
    line-height            : 3.6rem;
  }

  .subtitle {
    font-size  : 2.4rem;
    font-weight: 600;
    color      : variables.$subheading-color;
    line-height: 3.6rem;
  }

  .suggestion-list {
    display        : flex;
    gap            : 1.25rem;
    margin-top     : 9.5vh;
    overflow-x     : auto;
    scrollbar-width: none;
  }
}

.suggestion-list {

  .suggestion {
    display         : flex;
    flex-direction  : column;
    align-items     : flex-end;
    justify-content : space-between;
    width           : 227px;
    cursor          : pointer;
    padding         : 1.25rem;
    border-radius   : 8px;
    flex-shrink     : 0;
    background-color: variables.$secondary-color;

    transition: all .15s ease-in-out;

    &:hover {
      background-color: variables.$secondary-hover-color;
    }

    .text {
      font-weight: 400px;
      line-height: 1.5;
    }

    .icon {
      @include variables.marker;
    }
  }
}

// 聊天氣泡
.chat-list {
  width     : 100%;
  max-height: 850px;
  padding   : 0 1rem;
  overflow-y: auto;
}

.message {
  padding : 1.5rem 0;
  position: relative;

  &:not(.loading, .editing):hover .icon {
    visibility: visible;
    opacity   : 1;
    transform : scale(1);
  }

  .message-content {
    width      : 100%;
    display    : flex;
    gap        : 1rem;
    align-items: flex-start;
    margin     : 0 auto;
  }

  .avatar {
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
    object-fit   : cover;
    flex-shrink  : 0; // 防止圖片被擠壓

    @media (max-width: 768px) {
      width : 35px;
      height: 35px;
    }
  }

  .message-text {
    word-wrap    : break-word;
    color        : variables.$text-color;
    line-height  : 1.5;
    padding      : 1rem 1.5rem;
    border-radius: 15px;
    max-width    : 100%; // 確保文字不會溢出
    white-space  : pre-wrap;
  }

  .icon {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 32px;
    height          : 32px;
    cursor          : pointer;
    border-radius   : 50%;
    font-size       : 1rem;
    color           : variables.$text-color;
    background-color: variables.$secondary-color;
    transform       : scale(0.8);
    transition      : all 0.2s ease;
    flex-shrink     : 0; // 防止圖示被擠壓

    visibility: hidden;
    opacity   : 0;

    &:hover {
      background-color: variables.$secondary-hover-color;
    }
  }
}

.outgoing {
  .message-content {
    flex-direction: row-reverse;
    margin-left   : auto;
  }

  .message-text {
    background             : variables.$secondary-color;
    border-top-right-radius: 5px;
  }

  .icon {
    margin-right: 0.5rem; // 調整右側間距
  }
}

.incoming {
  .message-text {
    background            : variables.$secondary-hover-color;
    border-top-left-radius: 5px;
  }

  .icon {
    margin-left: 0.5rem; // 調整左側間距
  }
}

.message.loading {

  .message-text {
    display: none;
  }

  .avatar {
    animation: variables.$loading-avatar;
  }
}

.loading-indicator {
  display       : flex;
  width         : 100%;
  gap           : 16px;
  flex-direction: column;

  .loading-bar {
    height         : 11px;
    width          : 100%;
    border-radius  : 5px;
    background     : linear-gradient(45deg, #4285F4, variables.$primary-color, #4285F4);
    background-size: 1600px 100%;
    animation      : variables.$loading-message;

    &:nth-child(2) {
      width: 88%;
    }

    &:nth-child(3) {
      width: 77%;
    }
  }
}

.editing {
  .message-text {
    display: none;
  }

  .message-content {
    flex-wrap: wrap;
    gap      : 1rem;
    width    : 100%;
  }

  .edit-message-input {
    flex           : 1;
    height         : 45px;
    border-radius  : 15px;
    background     : transparent;
    outline        : none;
    border         : 2px solid variables.$secondary-color;
    color          : variables.$text-color;
    line-height    : 1.5;
    padding        : 0.5rem 1.5rem;
    font-size      : 1rem;
    resize         : none;
    scrollbar-width: none;

    @media (max-width: 768px) {
      width     : 100%;
      margin-top: 0.5rem;
    }

    transition: all .15s ease-in-out;

    &:focus {
      border-color: variables.$outline-color;
    }
  }

  .edit-buttons {
    display    : flex;
    align-items: center;
    gap        : 10px;
    margin-left: auto; // 按鈕靠右對齊

    @media (max-width: 768px) {
      width          : 100%;
      justify-content: flex-end;
      margin-right   : 3.3rem;
    }

    .edit-btn {
      min-width    : 70px;
      height       : 40px;
      padding      : 0 1.25rem;
      cursor       : pointer;
      border       : none;
      border-radius: 50px;
      font-size    : 0.95rem;

      @media (max-width: 768px) {
        flex     : 1;
        max-width: 100px;
      }

      transition: all .15s ease-in-out;

      &:hover {
        filter: brightness(1.1);
      }

      &.cancel {
        color           : variables.$outline-color;
        background-color: variables.$secondary-color;
      }

      &.save {
        color     : variables.$secondary-color;
        background: variables.$outline-color;
      }
    }
  }
}

// 輸入框
.typing-area {
  width           : 100%;
  position        : absolute;
  bottom          : 0;
  padding         : 0 0 1.5rem;
  color           : variables.$text-color;
  background-color: variables.$primary-color;
  box-shadow      : 0 0 25px 15px variables.$primary-color;

  .typing-form {
    display    : flex;
    align-items: flex-end;
    gap        : 10px;
    padding    : 0 1rem;
  }
}

.typing-form {
  .typing-input {
    width           : 100%;
    height          : 55px;
    max-height      : 200px;
    border-radius   : 40px;
    padding         : 15px 65px 15px 30px;
    background-color: variables.$secondary-color;
    color           : #FFF;
    font-size       : 1rem;
    outline         : none;
    border          : none;
    resize          : none;
    scrollbar-width : none;

    transition: all .15s ease;

    &:focus {
      background-color: variables.$secondary-hover-color;
    }

    &::placeholder {
      color: variables.$placeholder-color;
    }

    &:valid+.send-btn {
      --scale: 1;
    }
  }
}


.action-buttons {
  display    : flex;
  align-items: flex-end;
  gap        : 10px;

  i {
    @include variables.marker;
    cursor          : pointer;
    width           : 56px;
    height          : 56px;
    font-size       : 1.4rem;
    margin-top      : 0;
    background-color: variables.$secondary-color;

    transition: all .15s ease;

    &:hover {
      background-color: variables.$secondary-hover-color;
    }
  }
}